/* Reset */
body {
  margin: 0;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Debug */
section {
  min-height: 10vh;
}
.rb {
  border: 3px solid red;
}

/* Base */
section {
  padding: 0 1em;
}

/* Fonts */
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.brand {
  font-family: 'Black Ops One', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
}
h1,
h2 {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}
.hero-title h1,
.hero-title h2 {
  font-family: 'Black Ops One', Helvetica, Arial, sans-serif;
}

/* Utility */
.card {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Buttons */
.button {
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
  color: #0d47a1;
  background: #bbdefb;
}
.button:hover {
  background: #64b5f6;
}
.button:focus {
  outline-width: 0;
}
.button-skill {
  background: #0d47a1;
  color: white;
}
.button-skill:hover {
  background: #1976d2;
}

/* Modal */
#modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#modal:empty {
  display: none;
}
#modal > div {
  pointer-events: auto;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 90vw;
  height: 95vh;
  overflow-y: auto;
  position: relative;
}
@media screen and (min-width: 450px) {
  #modal > div {
    width: 80vw;
    height: 80vh;
  }
}
body.modal-open {
  overflow: hidden;
}

/* Header */
header {
  background: #333;
  color: white;
  padding: 1em 0.5em;
}
header a {
  color: white;
  text-decoration: none;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
header a {
  text-align: center;
  padding: 0.5em 0;
}
header a:first-child {
  padding-top: 0;
}
header a:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 450px) {
  header div {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: flex-end;
  }
  header a {
    padding: 0 1em;
  }
  header a:first-child {
    margin-right: auto;
  }
  header a:first-child {
    padding-left: 0;
  }
  header a:last-child {
    padding-right: 0;
  }
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1em 0.5em;
}

/* Page Layout */
#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Hero */
#hero {
  background-image: url('./yellowstone.jpg');
  background-position: bottom right;
}
.hero-title {
  text-align: center;
}
.hero-title img {
  text-align: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
}
.hero-title h1,
.hero-title h2 {
  text-shadow: -1px 1px 1px #ffffff, -1px -1px 1px #ffffff, 1px 1px 1px #ffffff,
    1px -1px 1px #ffffff;
}

.hero-title {
  font-size: 1.5em;
  padding: 1.5em 0;
}
.hero-title h1 {
  padding: 0.75em 0;
}
@media screen and (min-width: 450px) {
  .hero-title {
    font-size: 2em;
    padding: 2em 0;
  }
  .hero-title h1 {
    padding: 1em 0;
  }
}

/* Profile */
#profile {
  padding-top: 1em;
}
.profile {
  padding: 1em;
}
.profile h1 {
  text-align: center;
}

/* Skills */
#skills {
  padding-top: 1em;
}
.skills {
  padding: 1em;
}
.skills h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.skills-wrap {
  display: flex;
}
.skills-column > div {
  padding: 0.3em;
  margin-bottom: 0.5em;
}
.skills-column > div:last-child {
  margin-bottom: 0;
}
.skills-label-inner {
  border: 3px solid transparent;
  font-weight: bold;
  color: #1b5e20;

  display: flex;
  justify-content: flex-end;
}
.skills-amount {
  flex: 1;
}
.skills-amount-percent {
  border: 3px solid #005005;
  background: #2e7d32;
  color: white;
  font-weight: bold;
}
.skills-amount-percent span {
  padding-left: 0.5em;
}

/* Work */
#work {
  padding-top: 1em;
}
.work {
  padding: 1em;
  margin-bottom: 1em;
}
.work h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.work-filter {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
}
.work-filter h2 {
  margin-bottom: 0.5em;
}
/* work projects */
.project-grid {
  padding-bottom: 1em;
}
.project {
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}
.project-hover,
.project-image,
.project-header {
  pointer-events: none;
}
.project:hover {
  cursor: pointer;
}
.project:focus {
  outline-width: 0;
}
.project-hover {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}
.project:hover .project-hover {
  display: flex;
}
.project-header {
  background: #333;
  color: white;
  padding: 0.5em 0.5em 1.5em;
}
.project-header h1 {
  margin-bottom: 0.5em;
}
.project-header-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-header-skills div {
  border: 1px solid #b71c1c;
  background: #7f0000;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.3em 0.5em;
  margin-bottom: 0.5em;
  margin: 0 0.2em;
}
.project-image {
  flex: 1;
}
.project-image img {
  display: block;
  width: 100%;
}

/* layout without grid */
.project {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.project:last-child {
  margin-bottom: 0;
}
/* layout with grid */
@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .project {
      max-width: none;
      margin: 0;
    }
    .project-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
    .project-heading {
      grid-column: span 2;
    }
  }
  @media screen and (min-width: 1000px) {
    .project-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .project-heading {
      grid-column: span 3;
    }
  }
}

/* project modal */
.project-modal {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.project-modal h1 {
  text-align: center;
}
.project-modal .close-button {
  position: fixed;
  cursor: pointer;
  border: none;
  background: transparent;

  top: 2vh;
  right: 8vw;
  font-size: 1.5em;
}
@media screen and (min-width: 450px) {
  .project-modal .close-button {
    top: 10vh;
    right: 12vw;
    font-size: 2em;
  }
}
.project-modal-copy {
  flex: 1;
  padding: 0 1em;
  text-align: justify;
}
.project-modal-buttons {
  padding: 1em;
  background: white;
  border-top: 1px solid #eee;
  position: sticky;
  bottom: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}
.project-modal-button {
  border: 1px solid #aaa;
  padding: 0.8em 0.3em;
  background: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.project-modal-button:hover {
  background: #f8f8f8;
}

/* Carousel */
.carousel {
  padding: 0 1em;
  max-width: 500px;
  margin: 0 auto;
}
.carousel img {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.carousel-larger {
  padding: 0.5em;
}
.carousel-smaller {
  width: 50%;
  display: inline-block;
  padding: 0.5em;
  margin: 0;
  position: relative;
}
.carousel-smaller img {
  cursor: pointer;
}
.carousel-fadebox {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: none;
}
.carousel-smaller.active .carousel-fadebox {
  display: block;
}
@supports (display: grid) {
  @media screen and (min-width: 1000px) {
    .carousel {
      max-width: none;
      margin: 0;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .carousel img {
      margin: 0;
      width: 100%;
    }
    .carousel-larger {
      padding: 0;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    .carousel-smaller {
      padding: 0;
      width: 100%;
    }
  }
}
